<!DOCTYPE html>
<html>
  <head>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Lato:bold|Roboto', media: 'all' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css', media: 'all' %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'app_container' %>
    <%= favicon_link_tag 'favicon.png' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
  </head>

  <body>
    <div class='container'>
      <%= yield %>
      <div id='react-handle'></div>
    </div>

  </body>

</html>
